NEXT_PUBLIC_SUPABASE_URL=https://rkxexvstpatmetaoypgb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_CKP8nOeFoiigBkee3cZ6sw_whd5wfgz

SUPABASE_URL=https://rkxexvstpatmetaoypgb.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJreGV4dnN0cGF0bWV0YW95cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDIzNjcxMCwiZXhwIjoyMDg1ODEyNzEwfQ.SIv4km5zJg0vyJtxGyJ6puKty-_PXlWHabkAwizsbVI
